# ignore objects and archives, anywhere in the tree
#*.[oa]

# Ignore Logs
#logs
#.log

# Ignore the build directory
bin/*
/build
*.class

# Ignore lib directory
/lib

# Ignore IDE specific files
.git/
.idea/
.settings/
TechExercise.iml
.*
!.gitignore
/bin/
